/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.typed-cursor{
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }

/*Texts*/

.heading-title {
  padding: 5px;
  font-size: xx-large;
  font-weight: bold;
  color: #6713d2;
}

.heading-subtitle {
  padding: 5px;
  font-size: 24px;
  font-weight: 300;
  margin: auto;
}

.paragraph {
  padding: 5px;
  font-size: large;
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {

  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/*Navigation bar start*/
nav {
  width: 100%
}
nav ul{
  margin: auto;
  margin-top: 20px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
nav ul .nav-btn {
  text-align: center;
   border-radius: 10px;
}
nav ul .nav-btn:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
  color: #cc208e;
  background: white;
  border-radius: 10px
}
nav ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
nav ul li a:hover {
  color: #cc208e;
  text-decoration: none;
  font-weight: normal
}
nav ul li {
  text-align: center;
  width: 15%
}
nav ul li .nav-logo{
  width: 100%;
}
.nav-btn {
  padding: 10px 10px 10px 10px;
}
/*Navigation bar end*/

.btn {
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
  border-radius: 10px;
  margin: auto
}
.btn:hover {
  color: #cc208e;
  background-color: white;
}
.btn-dark {
  padding: 15px 30px;
  border: 2px solid #6713d2;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #6713d2;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
  border-radius: 10px;
}
.btn-dark:hover {
  color: white;
  background-color: #6713d2;
}

  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display:none;
  }

@media screen and (min-width: 768px) {
  .start-anchor {
    position:relative; 
    bottom:100vh;
  }
  .btn-mobile-screen {
    display: none;
  }
  .btn {
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
    border-radius: 10px;
    margin: auto
  }
  .btn:hover {
    color: #cc208e;
    background-color: white;
  }
  .btn-dark {
    padding: 15px 30px;
    border: 2px solid #6713d2;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #6713d2;
    text-decoration: none;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
    border-radius: 10px;
  }
  .btn-dark:hover {
    color: white;
    background-color: #6713d2;
  }

  /*Texts*/

  .heading-title {
    padding: 5px;
    font-size: xx-large;
    font-weight: bold;
    color: #6713d2;
  }

  .heading-subtitle {
    padding: 5px;
    font-size: 24px;
    font-weight: 300;
    margin: auto;
  }

  .paragraph {
    padding: 5px;
    font-size: large;
    font-weight: 300;
    margin:  auto;
  }
  body {
    min-width: 1015px;
  }
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .main-container__text-block {
    margin-top: 4%;
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: 300;
  }

  .main-container__button-block {
    display: flex;
    width: 100%;
  }
  /* #menu is the original menu */
  .js #mobile-menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }

  .empty-space {

  }

  .what-section__main {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    color: black;
    flex-wrap: wrap;
    min-height: 524px;
  }
  .what-section__image-container {
      margin: auto;
      display: flex;
      width: 420px;
      max-width: 420px;
      margin-bottom: 4px;
  }

  .what-section__text-fix {
    width: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 80px;
  }

  .what-section__text-block {
    padding: 30px 25px 30px 20px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    min-width: 400px;
  }

  .what-section__image-container > .outer-border {
    margin: auto;
    width: 100%;
    position: inherit;
    background-color: #cc208e;
    border: 20px solid #cc208e;
    border-radius: 30px;
    margin-bottom: -7%;
    margin-top: 49px
  }

  .what-section__image-container > .outer-border > img{
    margin: auto;
    width: 100%;
    border-radius: 10px;
  }

  .why-section__main {
    background: -webkit-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: -o-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: linear-gradient(#cc208e 30%, #cc208e 100%);
    height: 100%;
    min-height: 672px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .why-section__third-wrapper {
    margin: 0 auto 0 auto;
    width: 90%;
    max-width: 1080px;
    background: -webkit-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: -o-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: linear-gradient(#cc208e 30%, #cc208e 100%);
    display: flex;
    flex-wrap: wrap;
  }

  .why-section__third {
    width: 33%;
    min-width: 270px;
    display: flex;
  }

  .third__box {
    margin: auto;
    padding: 30px;
    height: 360px;
    width: 280px; 
    background-color: white;
    border-radius: 20px;
    /*box-shadow: 5px 5px 20px #cacaca;*/

  }

  .box-title {
    color: #6713d2;
    font-weight: bold;
    font-size: 30px;
  }
  .box-content {
    margin-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: 300;
  }
 
  .btn-dark {
    width: 220px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  /*Bot section start*/

  .bot-section__main {
    height: 100%;
    min-height: 600px;
    background-color: white;
    display: flex;
    color: black;
    flex-wrap: wrap;
  }

  .bot-section__top {
    height: 80%;
    width: 100%;
    background-color: white;
    display: flex;
  }
  .bot-section__image-container {
    width: 100%;
    flex-basis: 50%;
    display: flex
  }

  .bot-section__image-container > .outer-border{
      margin: auto;
      display: flex;
  }

  .bot-section__image-container img {
    border-radius: 20px;
    margin: auto;
  }

  .bot-section__text-block {
    padding: 30px 20px 30px 20px;
    width: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .bot-section__bottom {
    height: 20%;
    width: 100%;
    background-color: #cc208e;
    display: flex;
    color: white;
    flex-wrap: wrap;
  }

  /*Bot section ends*/

  .section-bottom {
    height: 40%;
    width: 100%;
    background-color: #cc208e;
    display: flex;
    color: white;
    flex-wrap: wrap;
    min-height: 270px;
  }

  .bottom__title {
    width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
  }

  .contact-form {
    margin: auto;
    margin-top: 0px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

  }
  .contact-form__field {
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid white;
    background: #cc208e;
    padding: 10px;
    margin: 0 0 20px 0;
    width: 48.3%;
  }
  .field-left {
    margin-right: 1.5%;
  }

  .field-right {
    margin-left: 1.5%; 
  }
  .contact-form__field::-webkit-input-placeholder, .contact-form__btn {
    color: white;
    font-size: 14px;

  } 
  .contact-form__field::-moz-placeholder {
    color: white
  }
  
  .contact-form__btn {
    padding: 10px;
    font-weight: bold;
    background: #cc208e;
    border: 2px solid white;
    border-radius: 10px;
    width: 150px;
  }
   .contact-form__btn:hover {
    background: white;
    color: #cc208e;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .social-and-more {
    width: 100%;
  }
  
}

@media screen and (max-width: 767px) {
  .btn-full-screen {
    display: none;
  }
  nav ul {
    margin-top: 60px;
  }
  .start-anchor {
    position: relative; 
    bottom: 96.5%;
  }
  .nav-logo {
    width: 35%;
  }

  .nav-btn {
    display: none;
  }
  .btn {
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
    border-radius: 10px;
    margin: auto
  }
  .btn-kittybus {
    margin: 30px auto 40px auto
  }
  .btn:hover {
    color: #cc208e;
    background-color: white;
  }
  .btn-dark {
    padding: 15px 30px;
    border: 2px solid #6713d2;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #6713d2;
    text-decoration: none;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
    border-radius: 10px;
  }
  .btn-dark:hover {
    color: white;
    background-color: #6713d2;
  }
  /*Texts*/

  .heading-title {
    padding: 5px;
    font-size: xx-large;
    font-weight: bold;
    color: #6713d2;
  }

  .heading-subtitle {
    text-align: center;
    padding: 5px;
    font-size: 24px;
    font-weight: 300;
    margin: 20px;
    margin-top: 30px;
  }

  .paragraph {
    padding: 5px;
    font-size: large;
    font-weight: 300;
    margin: auto;
  }
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .main-container__text-block {
    margin-top: 4%;
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: 300;
  }

  .main-container__button-block {
    display: flex;
    width: 100%;
  }
  
  .js .slicknav_menu {
    display:block;
  }

  .what-section__main {
    width: 100%;
    background-color: white;
    display: flex;
    color: black;
    flex-wrap: wrap;
    min-height: 524px;
  }
  .what-section__image-container {
      margin: auto;
      display: flex;
      width: 420px;
      max-width: 420px;
      margin-bottom: 4px;
  }

  .what-section__text-fix {
    display: flex;
    margin: auto;
    margin-bottom: 80px;
  }

  .what-section__text-block {
    padding: 30px 25px 30px 20px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  .what-section__image-container > .outer-border {
    margin: auto;
    width: 100%;
    position: inherit;
    background-color: #6713d2;
    border: 20px solid #6713d2;
  }

  .what-section__image-container > .outer-border > img{
    margin: auto;
    width: 100%;
    border-radius: 10px;
  }

  .why-section__main {
    background: -webkit-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: -o-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: linear-gradient(#cc208e 30%, #cc208e 100%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .why-section__third-wrapper {
    margin: 0 auto 0 auto;
    width: 90%;
    background: -webkit-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: -o-linear-gradient(#cc208e 30%, #cc208e 100%);
    background: linear-gradient(#cc208e 30%, #cc208e 100%);
    display: flex;
    flex-wrap: wrap;
  }

  .hr-line {
    background: #6713d2;
    position: absolute;
    width: 84%;
    height: 5px;
    border-radius: 16px;
  }

  .why-section__third {
    display: flex;
    margin: 10px auto 10px auto;
  }

  .third__box {
    margin: auto;
    padding: 30px;
    height: 360px;
    width: 280px; 
    background-color: white;
    border-radius: 20px;
    /*box-shadow: 5px 5px 20px #cacaca;*/

  }

  .box-title {
    color: #6713d2;
    font-weight: bold;
    font-size: 30px;
  }
  .box-content {
    margin-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: 300;
  }
 
  .btn-dark {
    width: 220px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  /*Bot section start*/

  .bot-section__main {
    min-height: 600px;
    background-color: white;
    display: flex;
    color: black;
    flex-wrap: wrap;
  }

  .bot-section__top {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  }
  .bot-section__image-container {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }

  .bot-section__image-container > .outer-border{
      margin: auto;
      display: flex;
  }

  .bot-section__image-container img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .bot-section__text-block {
    padding: 30px 20px 30px 20px;
    width: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .bot-section__bottom {
    height: 20%;
    width: 100%;
    background-color: #cc208e;
    display: flex;
    color: white;
  }
  .section-bottom {
    height: 40%;
    width: 100%;
    background-color: #cc208e;
    display: flex;
    color: white;
    flex-wrap: wrap;
  }

  .bottom__title {
    width: 100%;
    margin: auto;
  }

  .contact-form {
    margin: auto;
    margin-top: 0px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

  }
  .contact-form__field {
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid white;
    background: #cc208e;
    padding: 10px;
    margin: 0 0 20px 10px;
    width: 100%;
  }
  .contact-form__field::-webkit-input-placeholder, .contact-form__btn {
    color: white;
    font-size: 14px;

  } 
  .contact-form__field::-moz-placeholder {
    color: white
  }
  
  .contact-form__btn {
    padding: 10px;
    background: #cc208e;
    border: 2px solid white;
    border-radius: 10px;
    width: 150px;
  }

  .social-and-more {
    width: 100%;
  }

  /*Bot section ends*/
}


